extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/authenticate.css")

block contents
  .container-fluid.px-0
    include ../../includes/nav.pug

    if errorMessage
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        span.h3 #{errorMessage}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    if validationError
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        for error in validationError 
          span.h3.d-block #{error.msg}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    section.form
      h5.display-4 Login
      form(action="/login" method="post" id="login-form")
        .form-group
          input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          label(for="email") EMAIL
          input(type="email" name="userEmail" value=oldInput ? oldInput.userEmail : '' class="mb-2" id="userEmail" required)
          span.text-danger.font-weight-bold.h3
        .form-group
          label(for="password") PASSWORD
          input(type="password" name="userPassword" id="userPassword" value=oldInput ?oldInput.userPassword : '' class="mb-2" required)
          span.text-danger.font-weight-bold.h3 
        .form-group
          button(type="submit" data-id="loader") LOGIN
        .form-register
          span Don't have an account? 
            a(href="/register") Register 

    include ../../includes/footer.pug

block scripts
  script(src="/assets/js/auth/validateLogin.js")