extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/authenticate.css")

block contents
  .container-fluid.px-0
    include ../../includes/nav.pug

    if errorMessage
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        span.h3 #{errorMessage}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    if successMessage
      .alert.alert-success.alert-dismissible.fade.show.text-center.px-1.py-4
        span.h3 #{successMessage}
          a(href="/login" class="text-danger h4") 
            strong.text-danger.h3 Log in to your account

        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    if validationError
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        for error in validationError 
          span.h3.d-block #{error.msg}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    section.form
      form(action="/register" method="post")
        .form-group
          input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          label(for="fullname") Fullname
          input(type="text" name="fullName" value=oldInput ? oldInput.fullName : '' required)
        .form-group
          label(for="email") EMAIL
          input(type="email" name="userEmail" value= oldInput ? oldInput.userEmail : '' required)
        .form-group
          label(for="password") PASSWORD
          input(type="password" name="userPassword" value=oldInput ? oldInput.userPassword : '' required)
        .form-group
          button(type="submit") REGISTER
        .form-register
          span Have an account? 
            a(href="/login") Login 

    include ../../includes/footer.pug