extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/cart.css")

block contents
  .header
    include ../../includes/headerNav.pug

  if errorMessage
    .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
      span.h3 #{errorMessage}
      button(type="close" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true" class="h1") &times;

  section.header-title.text-center
    h2 CART

  if !cart
    section.text-center.empty-cart.mt-3.mb-5.px-2
      p Your cart is empty.
      button.btn.btn-lg.mt-3
        a(href="/shop") RETURN TO SHOP
  else
    .px-3
      div.ptb.cart-container.px-4
        div.cart.container.mx-auto.py-4.text-center

          for item in cart
            figure
              img(src=item.productId.productImage alt=item.productId.title)
              figcaption #{item.productId.title}
              section
                span.price $#{item.productId.price}
                span.times &times; 
                span.quantity #{item.quantity}
              form.text-center.remove-from-cart(action="/remove-cart-product" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="productId" value=item.productId._id)
                button(type="submit" class="btn btn-danger") &minus;
        form(action="/order" class="checkout-form text-center mt-2" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          button(type="submit" class="mx-auto btn btn-lg btn-success px-5 py-4 font-weight-bold") CHECKOUT
  .footer-light.cart-footer.w-100
    include ../../includes/footer.pug
