extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/order.css")

block contents
  .header
    include ../../includes/headerNav.pug

  section.header-title.text-center
    h2 ORDERS

  if !orders
    section.text-center.empty-order.mt-3.mb-5.px-2
      p You have no orders.
      button.btn.btn-lg.mt-3
        a(href="/shop") RETURN TO SHOP
  else
    .container.px-5.mx-auto.ptb
      .orders.text-center
        for prod in orders
          .orders--item
            .product--image.text-center.text-lg-right.px-4   
              img(src="/"+prod.product.productImage alt=prod.product.title)
            h2.product--title #{prod.product.title}
            p.product--price.font-weight-bold.my-2
              span.mr-2 TOTAL PRICE:
              span.text-success $#{prod.product.price * prod.quantity}
            form(action="/checkout" method="post" class="mt-5 checkout")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="productId" value=prod.product._id)
              button.add-to-cart-btn.btn.btn-primary.btn-lg Checkout
            form(action="/cancel-order" method="post" class="mt-2 cancel-order")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="hidden" name="productId" value=prod.product._id)
              button.add-to-cart-btn.btn.btn-lg.text-light Cancel Order

  .footer-light
    include ../../includes/footer.pug
