extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/shop.css")

block contents
  .header
    include ../../includes/headerNav.pug

  section.header-title.text-center
    h2 THE SHOP

  section.products.ptb
    if !(products.length)
      h1.display-3.text-center.text-muted STORE IS EMPTY.
    else 
      div.products__grid.text-center 
        for product in products  
          figure(class="products__grid-item")
            img(src=product.productImage alt=product.title)
            figcaption.products__name #{product.title}
            p.products__description
              span #{"Lorem ipsum dolor sit amet consectetur adipisicing elit".substring(0, 55)+"..."}
            p.products__price $#{product.price.toLocaleString()}          
            a(href="/shop/details/"+product._id class="addcart-link") ADD TO CART

      include ../../includes/pagination.pug

  .footer-light
    include ../../includes/footer.pug

block scripts
