extends ../../layout/layout.pug

block stylesheets
  link(rel="stylesheet" href="/assets/css/add-product.css")
  link(rel="stylesheet" href="/assets/css/headerNav.css")

block contents

  .header
    include ../../includes/adminHeaderNav.pug

  .container-fluid.px-3.ptb.mt-5
    if errorMessage
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        span.h3 #{errorMessage}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    if successMessage
      .alert.alert-success.alert-dismissible.fade.show.text-center.px-1.py-4
        span.h3 #{successMessage}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    if validationError
      .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
        for error in validationError 
          span.h3.d-block #{error.msg}
        button(type="close" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true" class="h1") &times;

    .col-lg-8.col-md-9.mx-auto
      form.px-2(action="/admin/add-product" method="post" enctype="multipart/form-data" id="product-post")
        div.form-group
          input(type="hidden" name="_csrf" value=csrfToken)

        div.form-group
          label(for="title") Product Title
          input.form-control.form-control-lg.py-5.mb-2(type="text" name="title" id="title" placeholder="Name" value=oldInput && oldInput.title data-id="title" required)
          span.text-danger.font-weight-bold.h3 

        div.form-group
          label(for="tag") Tag
          input.form-control.form-control-lg.py-5.mb-2(type="text" name="tag" id="tag" data-id="tag" placeholder="eg Women, Men, Babies etc" value=oldInput && oldInput.tag required)
          span.text-danger.font-weight-bold.h3

        div.form-group
          p Feature Product
          label(for="feature-yes").mr-5
            input(type="radio" name="feature" id="feature-yes" data-id="feature" value="yes")
            span.ml-2 Yes 

          label(for="feature-no")
            input(type="radio" name="feature" id="feature-no" data-id="feature" value="no" checked)
            span.ml-2 No

        div.form-group
          label(for="product-price") Product Price
          input.form-control.form-control-lg.py-5.mb-2(type="number" name="price" id="price" data-id="price" value=oldInput && oldInput.price  step="0.01" required)
          span.text-danger.font-weight-bold.h3

        div.form-group
          label(for="productImage") Product Image
          input.d-block.mb-2.w-100(type="file" name="productImage" id="productImage" data-id="productImage" required)
          span.text-danger.font-weight-bold.h3

        div.form-group
          label(for="description") Product Description
          textarea.form-control.form-control-lg.py-5.mb-2(name="description" cols="30" rows="10" id="description" data-id="description" required min="50") #{oldInput && oldInput.description}
          span.text-danger.font-weight-bold.h3

        div.form-group.w-100
          button.btn.btn-lg.btn-outline-success.w-100.py-4(type="submit" data-id="loader") Upload Product

  include ../../includes/footer.pug


block scripts
  script(src="/assets/js/admin/validatePostProduct.js")
