extends ../../layout/layout

block stylesheets
  link(rel="stylesheet" href="/assets/css/adminHome.css")
  link(rel="stylesheet" href="/assets/css/headerNav.css")

block contents

  .header
    include ../../includes/adminHeaderNav.pug

  if errorMessage
    .alert.alert-danger.alert-dismissible.fade.show.text-center.px-1.py-4
      span.h3 #{errorMessage}
      button(type="close" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true" class="h1") &times;

  if successMessage
    .alert.alert-success.alert-dismissible.fade.show.text-center.px-1.py-4
      span.h3 #{successMessage}
      button(type="close" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true" class="h1") &times;

  .container-fluid.px-5.ptb.mt-5
    if !(products.length)
      h1.display-1.text-center No Products
    else 
      section.products.ptb
        .products__grid.text-center
          for product in products    
            figure.products__grid-item
              img(src="/"+product.productImage alt=product.title)
              figcaption.products__name #{product.title}
              p.products__price $#{product.price.toLocaleString()}
              a(href="/admin/edit-product/"+product._id class="edit")
                button
                  i(class="fa fa-pencil" aria-hidden="true")
              form.delete-form(action="/admin/delete-product" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="productId" value=product._id)
                button 
                  i(class="fa fa-trash" aria-hidden="true")

      include ../../includes/pagination.pug