extends ../layout/layout

block stylesheets

  //- SLICK CSS
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  link(rel="stylesheet" href="/assets/css/slick-theme.css")

  //- EXTERNAL STYLESHEETS
  link(rel="stylesheet" href="/assets/css/loader.css")
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/home.css")

block contents
  if loader === true
    //- PRE LOADER
    div.loader
      div.loader-grid.left
      div.loader-grid.right
      div.loader-grid.left-right
      div.loader-grid.right-left
      div.loader-container
        div.lds
          div
          div
          div

  //- HEADER SECTION
  header.header

    include ../includes/headerNav.pug

    div.header__hero
      div.header__hero-social.social
        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-facebook(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-twitter(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-instagram(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-whatsapp(aria-hidden="true")

      div.header__hero-text
        p.sub-header TRENDING COLLECTION
        h1.main-header
          span NEW ARRIVAL

  //- FEATURED SECTION 
  section.featured.ptb
    div.featured__header.medium-header.text-center
      h2 FEATURED PRODUCTS

    div.slick
      figure.item
        img(src="assets/img/products/men/grey-shirt.png" alt="")
        figcaption.products__name.text-center GREY SHIRT
        p.products__price $20
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.item
        img(src="assets/img/products/women/red-gown.png" alt="")
        figcaption.products__name.text-center RED GOWN
        p.products__price $100
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.item
        img(src="assets/img/products/men/scott-backpack.png" alt="")
        figcaption.products__name.text-center SCOTT BACKPACK
        p.products__price $50
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.item
        img(src="assets/img/products/women/blue-gown.png" alt="")
        figcaption.products__name.text-center BLUE GOWN
        p.products__price $200
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

  //- PRODUCTS SECTION
  section.products.ptb
    div.products__header.medium-header.text-center
      h2 PRODUCTS

    div.products__grid
      figure.products__grid-item-1
        img(src="assets/img/products/men/red-polo.png" alt="")
        figcaption.products__name.text-center RED POLO
        p.products__price $60
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="5f3fd5d074a9f207d8b43474")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-2
        img(src="assets/img/products/women/floral-gown.png" alt="")
        figcaption.products__name.text-center FLORAL DRESS
        p.products__price $120
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-3
        img(src="assets/img/products/men/wallet.png" alt="")
        figcaption.products__name.text-center WALLET
        p.products__price $40
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-4
        img(src="assets/img/products/women/blue-jean.png" alt="")
        figcaption.products__name.text-center BLUE JEAN
        p.products__price $80
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-5
        img(src="assets/img/products/women/jade-necklace.png" alt="")
        figcaption.products__name.text-center JADE NECKLACE
        p.products__price $180
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-6
        img(src="assets/img/products/men/brown-belt.png" alt="")
        figcaption.products__name.text-center BELT
        p.products__price $30
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-7
        img(src="assets/img/products/women/pink-lipstick.png" alt="")
        figcaption.products__name.text-center LIP GLOSS
        p.products__price $55
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-8
        img(src="assets/img/products/women/slippers.png" alt="")
        figcaption.products__name.text-center SLIPPERS
        p.products__price $25
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-9
        img(src="assets/img/products/men/black-shirt.png" alt="")
        figcaption.products__name.text-center BLACK SHIRT
        p.products__price $49.59
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-10
        img(src="assets/img/products/men/nike-shoe.png" alt="")
        figcaption.products__name.text-center NIKE
        p.products__price $200
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-11
        img(src="assets/img/products/men/white-shirt.png" alt="")
        figcaption.products__name.text-center WHITE SHIRT
        p.products__price $65
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

      figure.products__grid-item-12
        img(src="assets/img/products/women/leather-brown.png" alt="")
        figcaption.products__name.text-center LEATHER BAG
        p.products__price $215
        form.text-center(action="/cart" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="productId" value="")
          button.add-to-cart-btn(data-id="") ADD TO CART

  include ../includes/footer.pug

block scripts

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js")
  script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js")

  if loader === true
    script(src="/assets/js/animation/loaderHero.js")
  else 
    script(src="/assets/js/animation/hero.js")

  script(src="/assets/js/slickSlider.js")