extends ../layout/layout

block stylesheets

  //- SLICK CSS
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  link(rel="stylesheet" href="/assets/css/slick-theme.css")

  //- EXTERNAL STYLESHEETS
  link(rel="stylesheet" href="/assets/css/loader.css")
  link(rel="stylesheet" href="/assets/css/headerNav.css")
  link(rel="stylesheet" href="/assets/css/home.css")

block contents
  if loader === true
    //- PRE LOADER
    div.loader
      div.loader-grid.left
      div.loader-grid.right
      div.loader-grid.left-right
      div.loader-grid.right-left
      div.loader-container
        div.lds
          div
          div
          div

  //- HEADER SECTION
  header.header

    include ../includes/headerNav.pug

    div.header__hero
      div.header__hero-social.social
        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-facebook(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-twitter(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-instagram(aria-hidden="true")

        a(href="#" target="_blank" rel="noopener noreferrer")
          i.fa.fa-whatsapp(aria-hidden="true")

      div.header__hero-text
        p.sub-header TRENDING COLLECTION
        h1.main-header
          span NEW ARRIVAL

  //- FEATURED SECTION
  if (featured.length)
    section.featured.ptb
      div.featured__header.medium-header.text-center
        h2 FEATURED PRODUCTS

      div.slick
        for product in featured  
          figure.item
            img(src="/"+product.productImage alt=product.title)
            figcaption.products__name.text-center GREY SHIRT     
            p.products__price $#{product.price.toLocaleString()}      
            a(href="/shop/details/"+product._id class="addcart-link text-center") ADD TO CART

  //- PRODUCTS SECTION
  section.products.ptb
    div.products__header.medium-header.text-center
      h2 PRODUCTS

    if !(products.length)
      h1.display-3.text-center.text-muted.mt-5 STORE IS EMPTY.
    else 
      div.products__grid
        each product, index in products  
          figure(class="products__grid-item-"+index)
            img(src="/"+product.productImage alt=product.title)
            figcaption.products__name #{product.title}
            p.products__price $#{product.price.toLocaleString()}
            a(href="/shop/details/"+product._id class="addcart-link text-center") ADD TO CART

  .footer-dark
    include ../includes/footer.pug

block scripts

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js")
  script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js")

  if loader === true
    script(src="/assets/js/animation/loaderHero.js")
  else 
    script(src="/assets/js/animation/hero.js")

  script(src="/assets/js/slickSlider.js")